[Desktop Entry]
Name=Claude
GenericName=Claude
Exec=chromium-browser --user-data-dir=%/.config/claude --start-maximized --app=https://claude.ai
Terminal=false
Type=Application
Categories=Utility;Application;
SingleMainWindow=true
Icon=claude
StartupWMClass=chrome-claude.ai__-Default
