[Desktop Entry]
Version=46.2.1.34187
Name=Webex
Comment=Webex
Exec=/opt/Webex/bin/CiscoCollabHost %U
Icon=/home/thofmann/.local/share/WebexLauncher/sparklogosmall.png
Terminal=false
Type=Application
Categories=Utility;Application;
MimeType=x-scheme-handler/webexteams;x-scheme-handler/ciscospark;x-scheme-handler/webex
