[Unit]
Description=SOCKS5 proxy for RWTH
After=network-online.target
Wants=network-online.target
After=gnome-session-initialized.target

[Service]
Type=simple
ExecStart=/usr/bin/ssh -v -D 1080 -o ServerAliveInterval=5 -N gateway1.ml.rwth-aachen.de
Restart=on-failure
RestartSec=10
RestartSteps=20
RestartMaxDelaySec=10min

[Install]
WantedBy=graphical-session.target
